<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="Basic">
					
					<security mode="None">
					</security>
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="TCP">
					
					<security mode="None">
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="WcfServiceLibrary.Service" behaviorConfiguration="GetDataBehavior">
				<!--<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:82"/>
					</baseAddresses>
				</host>-->
				
				 <endpoint address="basicHttp" binding="basicHttpBinding" name="Basic"  contract="WcfServiceLibrary.IService,WcfServiceLibrary" /> 
				<!--<endpoint address="netTCP" binding="netTcpBinding" bindingConfiguration="" name="TCP" contract="WcfServiceLibrary1.IService1,WcfServiceLibrary1" />--> 
			</service>
			
		</services>

		<behaviors>

			<serviceBehaviors>
				<behavior name="GetDataBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	
	</system.serviceModel>
</configuration>